$secPurple: rgb(205, 95, 248);

.App{
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &>*{
    min-height:100vh;
    scroll-snap-align: start;
  }
  
  .intro{
    background-image: url('./images/purpleFG.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 400px));
    place-items: center;
    justify-content: space-evenly;
    
    p{
      font-size: 2.5rem;
      font-weight: 900;
      
      span{
        font-family: 'eina01-bold';
        color: $secPurple;
      }

    }
    img{
      width: 100%
    }
  }
  .skills{
    padding: 3rem;
    display: grid;
    grid-template-rows: auto 1fr;
    header{
      font-family: 'eina01-bold';
      justify-self: center;
      font-size: 2rem;
      span{
        color:$secPurple;
      }
    }
    .items{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      place-items: center;
      .skill{
        display: grid;
        place-items: center;
      }
    }
  }
}
